@font-face {
    font-family: Odin;
    src: url(./Assets/Norse-Bold.otf);
}
:root {
    margin:0;
}

body {
    display: flex;
    align-items: stretch;
    height: 100vh;
    margin:0;
    font-family: Odin,'Courier New', Courier, monospace;
}

.logo {
    width: 30%;
    flex: 1;
    background-image: url("./Assets/the-walters-art-museum-9FXGfvtc2Lk-unsplash.jpg");
}

.form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    flex : 2;
}

.head {
    flex: 1;
    background-color: rgb(207, 202, 202);
    font-size: 30px;
    text-align: center;
    padding: 50px 10px 10px 0px;
}

.end {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(207, 202, 202);
    font-size: 20px;
    gap: 20px;
}

.names {
    display: flex;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 20px;
}

.password {
    display: flex;
    gap: 20px;
}
#logo {
    position: relative;
    opacity: 0.5;
    left: 120px;
    top: 200px;
    height: 400px;
    width: 400px;
}

#actual-form {
    display: flex;
    flex-direction: column;
}

img {
    width: 700px;
}

form {
    flex: 3;
   
}

fieldset {
    height: 50%;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 8px gray;
    flex: 3;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

button {
    background-color: #596D48;
    font-size: 20px;
    font-weight: bold;
    color: #E5E7EB;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 5px 10px 8px green;
    height: 50px;
    width: 200px;
}

input:focus{
    border : 1px solid blue;
    box-shadow: 2;
}

input:valid {
    border: 1px solid #E5E7EB;
}

input:invalid {
    border: 1px solid red;
}